<div class="col-md-6">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary">Страница регистрации на сайте</strong>
      <h3 class="mb-0">
        Посты на любой вкус,<br>
        по мнению Л. Толстого
      </h3>
      <p class="card-text mb-auto">Чтение на досуге для самых превередливых.</p>
      {% include 'animations/door.html' %}
      <a href="{% url 'users:login' %}" class="stretched-link">А зарегистрироваться?</a>
    </div>
  </div>
</div>
